.footer {
  width: 100%;
  background-color: rgb(33, 27, 128);
  color: yellow;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 24px;
}

.footer .footerItems {
  width: 33%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-all;
  gap: 15px;
  border-right: 2px whitesmoke solid;
  padding: 9px 36px;
}

.footer .footerItems:last-child {
  border: none;
}

.footer .footerItems .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px;
}

i {
  margin-top: 18px;
  color: red;
  padding: 9px;
  border: 2px whitesmoke solid;
  border-radius: 18px;
  background-color: whitesmoke;
}

.footer span {
  color: gold;
}

a {
  text-decoration: none;
  color: yellow;
}